Now let's try a Neural Network Model!
I began by importing our basic packages:

In [2]:
import pandas as pd
import numpy as np
import tensorflow as tf
from scipy.linalg import svd

Again, I imported the coffee data:

In [3]:
data = pd.read_csv('merged_data_cleaned.csv')

In [4]:
data

,Unnamed: 0,Species,Owner,Country.of.Origin,Farm.Name,Lot.Number,Mill,ICO.Number,Company,Altitude,...,Color,Category.Two.Defects,Expiration,Certification.Body,Certification.Address,Certification.Contact,unit_of_measurement,altitude_low_meters,altitude_high_meters,altitude_mean_meters
0,0,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,0,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
1,1,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,1,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
2,2,Arabica,grounds for health admin,Guatemala,"san marcos barrancas ""san cristobal cuch",NaN,NaN,NaN,NaN,1600 - 1800 m,...,NaN,0,"May 31st, 2011",Specialty Coffee Association,36d0d00a3724338ba7937c52a378d085f2172daa,0878a7d4b9d35ddbf0fe2ce69a2062cceb45a660,m,1600.0,1800.0,1700.0
3,3,Arabica,yidnekachew dabessa,Ethiopia,yidnekachew dabessa coffee plantation,NaN,wolensu,NaN,yidnekachew debessa coffee plantation,1800-2200,...,Green,2,"March 25th, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1800.0,2200.0,2000.0
4,4,Arabica,metad plc,Ethiopia,metad plc,NaN,metad plc,2014/2015,metad agricultural developmet plc,1950-2200,...,Green,2,"April 3rd, 2016",METAD Agricultural Development plc,309fcf77415a3661ae83e027f7e5f05dad786e44,19fef5a731de2db57d16da10287413f5f99bc2dd,m,1950.0,2200.0,2075.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1334,Robusta,luis robles,Ecuador,robustasa,Lavado 1,our own lab,NaN,robustasa,NaN,...,Blue-Green,1,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1335,1335,Robusta,luis robles,Ecuador,robustasa,Lavado 3,own laboratory,NaN,robustasa,40,...,Blue-Green,0,"January 18th, 2017",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,40.0,40.0,40.0
1336,1336,Robusta,james moore,United States,fazenda cazengo,NaN,cafe cazengo,NaN,global opportunity fund,795 meters,...,NaN,6,"December 23rd, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,795.0,795.0,795.0
1337,1337,Robusta,cafe politico,India,NaN,NaN,NaN,14-1118-2014-0087,cafe politico,NaN,...,Green,1,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN
1338,1338,Robusta,cafe politico,Vietnam,NaN,NaN,NaN,NaN,cafe politico,NaN,...,None,9,"August 25th, 2015",Specialty Coffee Association,ff7c18ad303d4b603ac3f8cff7e611ffc735e720,352d0cf7f3e9be14dad7df644ad65efc27605ae2,m,NaN,NaN,NaN

And filtered out everything except for what I wanted.

In [5]:
data2 = data.iloc[:,[3,20,21,30]]

In [6]:
data2

     Country.of.Origin  Aroma  Flavor  Total.Cup.Points
0             Ethiopia   8.67    8.83             90.58
1             Ethiopia   8.75    8.67             89.92
2            Guatemala   8.42    8.50             89.75
3             Ethiopia   8.17    8.58             89.00
4             Ethiopia   8.25    8.50             88.83
...                ...    ...     ...               ...
1334           Ecuador   7.75    7.58             78.75
1335           Ecuador   7.50    7.67             78.08
1336     United States   7.33    7.33             77.17
1337             India   7.42    6.83             75.08
1338           Vietnam   6.75    6.67             73.75

[1339 rows x 4 columns]

In [7]:
SA =['Brazil','Guatemala','Mexico']
dataSA = data2.loc[data2["Country.of.Origin"].isin(SA)]

Due to the nature of tensorflow, I couldn't have string objects as a result to train against, so I converted each country to a number:

In [8]:
dataSAtest = dataSA["Country.of.Origin"].replace({"Guatemala":1.,"Brazil":2.,"Mexico":3.})
dataSAtest

2       1.0
5       2.0
22      3.0
25      2.0
32      2.0
       ...
1300    3.0
1301    3.0
1302    2.0
1306    3.0
1309    1.0
Name: Country.of.Origin, Length: 549, dtype: float64

In [9]:
dataSANew = dataSA[["Aroma","Flavor","Total.Cup.Points"]]

I then loaded in the training data to my model:

In [10]:
x = tf.convert_to_tensor(dataSA[["Flavor","Aroma","Total.Cup.Points"]])

In [11]:
y = tf.convert_to_tensor(dataSAtest)

Building a model; I've chosen to go for a fairly basic example for this case:

In [12]:
modelnew = tf.keras.models.Sequential([
  tf.keras.layers.Flatten(input_shape=(3, 1)),
  tf.keras.layers.Dense(45, activation='sigmoid'),
  tf.keras.layers.Dense(30, activation='relu'),
  tf.keras.layers.Dense(15, activation='softmax')
])

In [13]:
modelnew.compile(optimizer='adam',
              loss='sparse_categorical_crossentropy',
              metrics=['accuracy'])

And then training it against our original X values, running it for 30 epochs:

In [68]:
X_train = x[..., np.newaxis,np.newaxis]

In [69]:
modelnew.fit(X_train, y, epochs=30)

Epoch 1/30
18/18 [==============================] - 0s 5ms/step - loss: 1.0753 - accuracy: 0.4299
Epoch 2/30
18/18 [==============================] - 0s 5ms/step - loss: 1.0767 - accuracy: 0.4299
Epoch 3/30
18/18 [==============================] - 0s 5ms/step - loss: 1.0730 - accuracy: 0.4299
Epoch 4/30
18/18 [==============================] - 0s 5ms/step - loss: 1.0735 - accuracy: 0.4299
Epoch 5/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0730 - accuracy: 0.4299
Epoch 6/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0756 - accuracy: 0.4299
Epoch 7/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0724 - accuracy: 0.4299
Epoch 8/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0720 - accuracy: 0.4299
Epoch 9/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0741 - accuracy: 0.4299
Epoch 10/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0740 - accuracy: 0.4299
Epoch 11/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0772 - accuracy: 0.4299
Epoch 12/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0757 - accuracy: 0.4299
Epoch 13/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0736 - accuracy: 0.4299
Epoch 14/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0727 - accuracy: 0.4299
Epoch 15/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0772 - accuracy: 0.4299
Epoch 16/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0767 - accuracy: 0.4299
Epoch 17/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0715 - accuracy: 0.4299
Epoch 18/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0733 - accuracy: 0.4299
Epoch 19/30
18/18 [==============================] - 0s 4ms/step - loss: 1.0731 - accuracy: 0.4299
Epoch 20/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0731 - accuracy: 0.4299
Epoch 21/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0733 - accuracy: 0.4299
Epoch 22/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0730 - accuracy: 0.4299
Epoch 23/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0728 - accuracy: 0.4299
Epoch 24/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0724 - accuracy: 0.4299
Epoch 25/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0755 - accuracy: 0.4299
Epoch 26/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0728 - accuracy: 0.4299
Epoch 27/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0732 - accuracy: 0.4299
Epoch 28/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0719 - accuracy: 0.4299
Epoch 29/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0736 - accuracy: 0.4299
Epoch 30/30
18/18 [==============================] - 0s 3ms/step - loss: 1.0746 - accuracy: 0.4299

In [70]:
modelnew.evaluate(dataSA[["Aroma","Flavor","Total.Cup.Points"]], dataSAtest, verbose=False)

[1.0709362030029297, 0.4298724830150604]

42.9% Accuracy isn't terrible, but it's not great. Let's see if we can get better with a different model.

Basing this model on the network from "Gradient-based learning applied to document recognition", by Yann LeCun, Léon Bottou, Yoshua Bengio, and Patrick Haffner, we try again. A large difference to note here is that we're dealing with one dimensional convolutions and pooling rather than the 2D seen in class.

In [80]:
modelcomplex = tf.keras.models.Sequential([
  tf.keras.layers.Conv1D(6,10, activation='relu', padding='same', input_shape=(3, 1, 1)),
  tf.keras.layers.MaxPooling2D(1,1,'same'),
  tf.keras.layers.Conv1D(16, 1, activation='relu'),
  tf.keras.layers.MaxPooling2D(1,1,'same'),
  tf.keras.layers.Conv1D(120, 1, activation='relu'),
  tf.keras.layers.Flatten(),
  tf.keras.layers.Dense(84, activation='relu'),
  tf.keras.layers.Dense(10, activation='softmax')])

In [81]:
modelcomplex.compile(loss='categorical_crossentropy', optimizer='adam', metrics=['accuracy'])

In [82]:
Y_train = tf.keras.utils.to_categorical(y, 10)

In [83]:
modelcomplex.fit(X_train, Y_train, batch_size=128, epochs=20)

Epoch 1/20
5/5 [==============================] - 6s 66ms/step - loss: 2.3849 - accuracy: 0.2058
Epoch 2/20
5/5 [==============================] - 0s 5ms/step - loss: 1.2896 - accuracy: 0.3843
Epoch 3/20
5/5 [==============================] - 0s 5ms/step - loss: 1.1507 - accuracy: 0.3333
Epoch 4/20
5/5 [==============================] - 0s 5ms/step - loss: 1.1126 - accuracy: 0.4299
Epoch 5/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0924 - accuracy: 0.3770
Epoch 6/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0972 - accuracy: 0.3698
Epoch 7/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0809 - accuracy: 0.4299
Epoch 8/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0848 - accuracy: 0.3789
Epoch 9/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0743 - accuracy: 0.4317
Epoch 10/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0879 - accuracy: 0.4299
Epoch 11/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0819 - accuracy: 0.4317
Epoch 12/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0805 - accuracy: 0.4208
Epoch 13/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0783 - accuracy: 0.4299
Epoch 14/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0757 - accuracy: 0.4299
Epoch 15/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0760 - accuracy: 0.4299
Epoch 16/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0821 - accuracy: 0.4262
Epoch 17/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0762 - accuracy: 0.4299
Epoch 18/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0774 - accuracy: 0.4299
Epoch 19/20
5/5 [==============================] - 0s 6ms/step - loss: 1.0805 - accuracy: 0.4299
Epoch 20/20
5/5 [==============================] - 0s 5ms/step - loss: 1.0785 - accuracy: 0.4299

In [89]:
y_test = dataSAtest[...,np.newaxis]

C:\Users\doher\AppData\Local\Temp\ipykernel_324\3536406321.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  y_test = dataSAtest[...,np.newaxis]

In [91]:
modelnew.evaluate(dataSA[["Aroma","Flavor","Total.Cup.Points"]], y_test, verbose=False)

[1.0709362030029297, 0.4298724830150604]

Again I seem to be capped at 42% accuracy! It's entirely possible that this is the most accurate I can get my model to be without greater parsing of the data. When compared to the SVM model, it has greater success, but it's likely that due to how similar each data point is that it becomes difficult to discern what's what with a great degree of accuracy.